<div>
    <h2 id="page-heading">
        <span jhiTranslate="gameenginApplicationApp.announcement.home.title">Announcements</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-announcement" [routerLink]="['/announcement/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gameenginApplicationApp.announcement.home.createLabel">
            Create new Announcement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="announcements?.length === 0">
        <span jhiTranslate="gameenginApplicationApp.announcement.home.notFound">No announcements found</span>
    </div>
    <div class="table-responsive" *ngIf="announcements?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="gameenginApplicationApp.announcement.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="gameenginApplicationApp.announcement.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="active"><span jhiTranslate="gameenginApplicationApp.announcement.active">Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="gameenginApplicationApp.announcement.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rewardInfo"><span jhiTranslate="gameenginApplicationApp.announcement.rewardInfo">Reward Info</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="gameenginApplicationApp.announcement.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contestId"><span jhiTranslate="gameenginApplicationApp.announcement.contestId">Contest Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contestId.id"><span jhiTranslate="gameenginApplicationApp.announcement.contestId">Contest Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let announcement of announcements ;trackBy: trackId">
                <td><a [routerLink]="['/announcement', announcement.id, 'view' ]">{{announcement.id}}</a></td>
                <td>{{announcement.title}}</td>
                <td>{{announcement.description}}</td>
                <td>{{announcement.active}}</td>
                <td jhiTranslate="{{'gameenginApplicationApp.AnnouncementType.' + announcement.type}}">{{announcement.type}}</td>
                <td>{{announcement.rewardInfo}}</td>
                <td>{{announcement.createdDate | date:'medium'}}</td>
                <td>{{announcement.contestId}}</td>
                <td>
                    <div *ngIf="announcement.contestId">
                        <a [routerLink]="['../contest', announcement.contestId?.id, 'view' ]" >{{announcement.contestId?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/announcement', announcement.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/announcement', announcement.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'announcement', { outlets: { popup: announcement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="announcements?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
